.input-container {
  .label {
    text-transform: uppercase;
    margin-bottom: 2px;
  }

  .input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    font-size: 14px;
    border: $border;
    border-color: $gray;
    transition: border-color $micro-animation-duration;

    &:focus {
      outline: none;
      border-color: $primary;
    }
  }

  &.disabled {
    .label {
      color: #bbb;
    }

    .input {
      background-color: #eee;
      border: 1px solid #ccc;
      color: #bbb;

      &::placeholder {
        color: #bbb;
      }
    }
  }

  margin-bottom: 10px;
}
