.button {
  @include clickable-effects();

  padding: 6px 30px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  cursor: pointer;
  user-select: none;

  &.disabled {
    background-color: $background-disabled;
    color: $primary-disabled;
    pointer-events: none;
  }
}
