.app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  width: 1000px;
}

.top {
  .status-bar {
    margin-bottom: 20px;
  }
}

.bottom {
  display: flex;

  .game {
    margin-right: 20px;
  }

  .controls-and-settings {
    flex-grow: 1;

    .settings {

    }

    .controls {
      margin-bottom: 20px;
    }
  }
}

