.app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .controls {
    margin-top: 20px;
  }

  .statusBar {
    margin-bottom: 20px;
  }
}
