$spacing: 20px;

.app {
  height: 100%;
}

.sidebar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  width: 1000px;
}

.top {
  margin-bottom: $spacing;
}

.middle {
  display: flex;

  .game {
    margin-right: $spacing;
  }

  .controls-and-settings {
    flex-grow: 1;

    .settings {

    }

    .controls {
      margin-bottom: $spacing;
    }
  }
}

.bottom {
  margin-top: $spacing;
}
