.player-names {
  display: flex;
  font-size: 24px;
  font-weight: bold;

  .name {
    @include ellipsis();

    flex: 0 0 50%;
    border-bottom: 1px solid $primary;
    transition: border-bottom-color $micro-animation-duration;

    &.disabled {
      color: $primary-disabled;
      border-bottom-color: transparent;
    }
  }

  .left {
    padding-right: 10px;
  }

  .right {
    padding-left: 10px;
    text-align: right;
  }
}
